
@{
    ViewData["Title"] = "BaiTap2";
}
@model SanPhamViewModel
<h2>Thong tin san pham</h2>
<p>Ten san pham: @Model.tensanpham</p>
<p>Gia ban: @Model.giaban</p>
<img src="@Model.anhmota" alt="Anh mo ta san pham  " />

