@{
    ViewData["Title"] = "Index";
}


<header>
    <h2>Bài Tập</h2>
</header>

<section>
    <nav>
        <ul>
            <li><a>@ViewBag.HoTen</a></li>
            <li><a>@ViewBag.MSSV</a></li>

        </ul>
    </nav>

    <article>
        <table>
            
            <tbody>
                <li>Ngày sinh:08-03-2004</li>
                <li>Cung hoàng đạo: Song Ngư</li>
                <li>Sở thích: chơi game, nghe nhạc</li>                
            </tbody>
        </table>

    </article>
</section>

<footer>
    <p>Copyright &copy;@ViewBag.HoTen-@ViewData["Nam"]</p>
</footer>
